USE [master]
GO
/****** Object:  Database [templedunia]    Script Date: 26-11-2023 6.16.09 PM ******/
CREATE DATABASE [templedunia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'templedunia_data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\templedunia_data.mdf' , SIZE = 8192KB , MAXSIZE = 256000KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'templedunia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\templedunia_log.ldf' , SIZE = 10240KB , MAXSIZE = 10240KB , FILEGROWTH = 2048KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [templedunia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [templedunia]
GO
/****** Object:  User [templedunia]    Script Date: 26-11-2023 6.16.10 PM ******/
CREATE USER [templedunia] FOR LOGIN [templedunia] WITH DEFAULT_SCHEMA=[templedunia]
GO
ALTER ROLE [db_owner] ADD MEMBER [templedunia]
GO
/****** Object:  Schema [templedunia]    Script Date: 26-11-2023 6.16.10 PM ******/
CREATE SCHEMA [templedunia]
GO
/****** Object:  Table [dbo].[Admin_Login]    Script Date: 26-11-2023 6.16.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Login](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[UserPassword] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blog_Table]    Script Date: 26-11-2023 6.16.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[blogTitle] [nvarchar](max) NULL,
	[blogDate] [nvarchar](max) NULL,
	[blogImage] [nvarchar](max) NULL,
	[blogDetail] [nvarchar](max) NULL,
	[blogStatus] [nvarchar](max) NULL,
	[blogRTS] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[City]    Script Date: 26-11-2023 6.16.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [int] NOT NULL,
	[CityName] [varchar](50) NOT NULL,
	[DistrictId] [smallint] NOT NULL,
 CONSTRAINT [Pk_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactEnquires]    Script Date: 26-11-2023 6.16.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactEnquires](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[uname] [nvarchar](max) NULL,
	[umob] [nvarchar](max) NULL,
	[uemail] [nvarchar](max) NULL,
	[usub] [nvarchar](max) NULL,
	[umsg] [nvarchar](max) NULL,
	[rts] [datetime] NULL,
 CONSTRAINT [PK_ContactEnquires] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District]    Script Date: 26-11-2023 6.16.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[District](
	[DistrictId] [int] NOT NULL,
	[DistrictName] [varchar](50) NOT NULL,
	[StateId] [smallint] NOT NULL,
 CONSTRAINT [Pk_District] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[State]    Script Date: 26-11-2023 6.16.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[State](
	[StateId] [int] NOT NULL,
	[StateName] [varchar](50) NOT NULL,
 CONSTRAINT [Pk_State] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TempleListing]    Script Date: 26-11-2023 6.16.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempleListing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[did] [int] NOT NULL,
	[cid] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
	[detail] [nvarchar](max) NULL,
	[image1] [nvarchar](max) NULL,
	[image2] [nvarchar](max) NULL,
	[image3] [nvarchar](max) NULL,
	[image4] [nvarchar](max) NULL,
	[seoTitle] [nvarchar](max) NULL,
	[seoKeyword] [nvarchar](max) NULL,
	[seoDesc] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[rts] [datetime] NULL,
 CONSTRAINT [PK_TempleListing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin_Login] ON 

INSERT [dbo].[Admin_Login] ([Id], [Username], [UserPassword]) VALUES (1, N'admin', N'123')
SET IDENTITY_INSERT [dbo].[Admin_Login] OFF
SET IDENTITY_INSERT [dbo].[Blog_Table] ON 

SET IDENTITY_INSERT [dbo].[Blog_Table] OFF
INSERT [dbo].[City] ([CityId], [CityName], [DistrictId]) VALUES (-1, N'', 0)
INSERT [dbo].[City] ([CityId], [CityName], [DistrictId]) VALUES (1, N'MANDAL', 1)
INSERT [dbo].[City] ([CityId], [CityName], [DistrictId]) VALUES (2, N'SHAHPURA', 1)
GO
SET IDENTITY_INSERT [dbo].[ContactEnquires] ON 

INSERT [dbo].[ContactEnquires] ([Id], [uname], [umob], [uemail], [usub], [umsg], [rts]) VALUES (1, N'Om Sharma', N'8999292525', NULL, N'Job Applly', N'i am doing testing', CAST(N'2023-07-03 14:10:23.143' AS DateTime))
INSERT [dbo].[ContactEnquires] ([Id], [uname], [umob], [uemail], [usub], [umsg], [rts]) VALUES (2, N'Om Sharma', N'08999292525', NULL, N'Job Applly', N'test', CAST(N'2023-07-03 14:13:24.233' AS DateTime))
INSERT [dbo].[ContactEnquires] ([Id], [uname], [umob], [uemail], [usub], [umsg], [rts]) VALUES (3, N'vikas sharma', N'08999292525', NULL, N'Job Applly', N'aa', CAST(N'2023-07-03 14:15:09.477' AS DateTime))
SET IDENTITY_INSERT [dbo].[ContactEnquires] OFF
INSERT [dbo].[District] ([DistrictId], [DistrictName], [StateId]) VALUES (1, N'BHILWARA', 1)
INSERT [dbo].[District] ([DistrictId], [DistrictName], [StateId]) VALUES (2, N'ASSAM', 2)
INSERT [dbo].[District] ([DistrictId], [DistrictName], [StateId]) VALUES (3, N'AGRA', 3)
GO
INSERT [dbo].[State] ([StateId], [StateName]) VALUES (1, N'RAJASTHAN')
INSERT [dbo].[State] ([StateId], [StateName]) VALUES (2, N'ASSAM')
INSERT [dbo].[State] ([StateId], [StateName]) VALUES (3, N'UTTAR PRADESH')
SET IDENTITY_INSERT [dbo].[TempleListing] ON 

SET IDENTITY_INSERT [dbo].[TempleListing] OFF
USE [master]
GO
