
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2 d-flex align-items-center" style="background-image: url('../Content/images/about_bnrimg.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-12 text-center">
                <h3 class="hindiTitle" style="font-weight:700;color:white;">या देवी सर्वभूतेषु मातृरूपेण संस्थिता।</h3>
                <h1 class="" style="color:white;">ॐ लोकाः समस्ताः सुखिनो भवंतु</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-about-section ftco-no-pt ftco-no-pb">
    <div class="container-xl">
        <div class="row g-xl-5">
            <div class="col-md-5 d-flex align-items-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                <img src="~/Content/assets/Images/TempleImages/bholebaba.jpg" class="img-fluid w-75" />
            </div>
            <div class="col-md-7 py-5 heading-section" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <div class="py-md-5">
                    <span class="subheading">Welcome</span>
                    <h2 class="mb-4">TempleDuniya - Your Spiritual Guide</h2>
                    <p>We all believe and trust in God’s ability to sustain us, to love us, to care for us and to hold us up during the most difficult of times. This belief in existence of Gods and Goddess is what gives us hope to strive and struggle against all odds and come out victorious. This belief in the divine is rightfully shown in the thousands of temples sprawled across the country.</p>
                    <p>We seek communion with God, express our love and devotion to them and obtain their grace or favours through our ‘Prarthana’. We at TempleDuniya realize and acknowledge the importance of connecting with God through ‘Prarthana’ and facilitate the loving exchange of divine energy between you and your loved ones.</p>
                    <p>TempleDuniya is a one-stop destination for all your spiritual needs – Get in-depth information on Spiritual topics, temples across India, have in-depth discussion on topics such as Astrology, Spiritual developments & meditation.</p>
                    <p>TempleDuniya.com provides spiritual services to the millions of hindus across the world. We believe in facilitating the loving exchange of divine energy between you & your ishtadevata. From providing in-depth and original resources on the beliefs, philosophy & essential practices of Hinduism to having absorbing discussions on topics like Astrology, Yoga & Meditation.</p>
                    <p>At TempleDuniya learn about Vedic Mantras, Slokas & Stotrams in Mantra Sangrah, explore the rich heritage of Hindu temples across the world in TempleDuniya and more.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section bg-light">
    <div class="container-xl">
        <div class="row justify-content-center pb-4">
            <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
                <span class="subheading">What People Say</span>
                <h2 class="mb-3">Happy People</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="carousel-testimony">
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                            <div class="text">
                                <p class="mb-4 msg"> We all wish to go to important temples across India but are always short on time with our busy daily schedule. TempleDuniya brings the experience online, Makes me feel blessed and happy! </p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../../Content/assets/Images/TempleImages/omsharma.jpeg)"></div>
                                    <div class="pl-3 tx">
                                        <p class="name">Om Sharma</p>
                                        <span class="position">Rajasthan</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                            <div class="text">
                                <p class="mb-4 msg"> I’m very impressed with the website Temple Duniya. Extremely informative and love the spiritual stream – great content on Hinduism, Spirituality, Yoga, Meditation and more. </p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                                    <div class="pl-3 tx">
                                        <p class="name">Arpit Nuwal</p>
                                        <span class="position">Banglore</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                            <div class="text">
                                <p class="mb-4 msg">
                                    "I can't praise Temple Duniya enough! The website's spiritual stream and in-depth content on Hinduism, Spirituality, Yoga, Meditation, and more are exceptional."
                                </p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
                                    <div class="pl-3 tx">
                                        <p class="name">Mohit Vyas</p>
                                        <span class="position">Prayagraj</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                            <div class="text">
                                <p class="mb-4 msg"> "Temple Duniya is a treasure trove! The website offers valuable insights into Hinduism, Spirituality, Yoga, Meditation, and more. Truly enlightening!  Truly enlightening!"</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                                    <div class="pl-3 tx">
                                        <p class="name">Sunil Soni</p>
                                        <span class="position">Patna</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

